*{
    margin: 0;
    padding: 0;
}
.box{
    font-weight: 100%;
    height: 100px;
    background: rgb(130, 168, 224);
}
.box::before{
    content: "BaroNhan";
    color: aliceblue;
    font-size: 75px;
    font-style: italic;
    font-family: cursive;
    margin: 550px;
}
.text{
    color: rgb(7, 4, 6);
    text-align: center;
}